<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FRIchat</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FRIchat.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav id="navigacijska-vrstica">
            <ul id="zgornja-vrstica">
                <li><a id="logo" asp-controller="Home" asp-action="Index"><b>FRI</b>chat</a></li>
                <li class="skrij-mobile"><a asp-controller="Home" asp-action="About">O aplikaciji</a></li>
                <partial name="_LoginPartial"/>
                <li class="menu-gumb" onclick=prikaziStranskoVrstico()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26"><path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"/></svg></a></li>
            </ul>

            <ul id="stranska-vrstica">
                <li id="zapri-stransko-vrstico" onclick=skrijStranskoVrstico()><a href=""><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26"><path d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/></svg></a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">O aplikaciji</a></li>
                <partial name="_LoginPartialMobile" />
            </ul>
        </nav>

    </header>

    <div class="hero">
        @RenderBody()
    </div>

    <script>
        function prikaziStranskoVrstico(){
        const sidebar = document.querySelector('#stranska-vrstica')
        sidebar.style.display = 'flex'
        }
        function skrijStranskoVrstico(){
        const sidebar = document.querySelector('#stranska-vrstica')
        sidebar.style.display = 'none'
        }
    </script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>