@using Microsoft.AspNetCore.Identity
@using FRIchat.Models

@inject SignInManager<Uporabnik> SignInManager
@inject UserManager<Uporabnik> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="skrij-mobile">
        <a title="Manage" asp-area="Identity" asp-page="/Account/Manage/Index"><b>@UserManager.GetUserName(User)</b></a>
    </li>

    <li class="skrij-mobile">
        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit">Odjava</button>
        </form>
    </li>
}
else
{
    <li class="skrij-mobile">
        <a id="register" asp-area="Identity" asp-page="/Account/Register">Registracija</a>
    </li>
    <li class="skrij-mobile">
        <a id="login" asp-area="Identity" asp-page="/Account/Login">Prijava</a>
    </li>
}