@model FRIchat.Models.Predmet
@using Microsoft.AspNetCore.Identity
@using FRIchat.Models

@{
    ViewData["Title"] = "Details";
}

<h1>O predmetu</h1>

<div>
    <hr />
    <dl class="row">

        <br>
        <dd class = "col-sm-10">
            <h3>Naslov predmeta: </h3>
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <br>
        <dd class = "col-sm-10">
            <h3>Predavatelj: </h3>
            @Html.DisplayFor(model => model.Predavatelj)
        </dd>
        <br>
        <dd class = "col-sm-10">
            <h3>Letnik: </h3>
            @Html.DisplayFor(model => model.Letnik)
        </dd>
        <br>
    </dl>

    <div class="komentarji">

        @if (User.Identity.IsAuthenticated) {
            <p>Napišite komentar:</p>
            <form action="" method="">
                <textarea id="komentar" style="width: 80vw; height: 20vh; resize: none;"></textarea>
                <button type="submit">Gumb</button>
            </form>
        }

    </div>

</div>

