@{
    ViewData["Title"] = "O aplikaciji";
}

<p>
    FRIchat je informacijski sistem za študente Fakultete za računalništvo in informatiko in ponuja platformo za medsebojno komunikacijo in izmenjavo informacij v vezi s predmeti na fakulteti. Zasnovan je podobno kot forum, kjer ima vsak predmet predmetnika FRI svojo razpravo (»thread«), kar ponuja enostaven dostop do informacij, relevantnih za posamezen predmet. Študenti lahko v FRIchatu delijo in iščejo ključne informacije, nasvete, odgovore na vprašanja, pogovarjajo o kolokvijih in izpitih ter si medsebojno pomagajo s samim študijem. Sistem je ločen od fakultete, kar zagotavlja bolj pristno in zaupno komunikacijo.
</p>