@model IEnumerable<FRIchat.Models.Objava>

@{
    ViewBag.Title = "Dashboard";
    Layout = "_Layout";
}

@{
    foreach (var item in Model)
    {
        <a>@Html.DisplayFor(modelItem => item.Naslov)</a>
    }
}
