*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}

nav{
  background-color: #E12A26;
}

nav ul{
  width: 90vw;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 80px;
}
nav ul li a {
  color: white;
}
.logo {
  font-size: 80px;
  font-weight: bolder;
  padding: 0;
}

nav a{
  height: 100%;
  padding-right: 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: #E12A26;
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}

.login {
  border: 0.5px solid black;
  border-radius: 20px;
  width: 40vw;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-bottom: 10vh;
  padding-top: 10vh;
  padding-bottom: 20vh;
  text-align: center; 
}

.login a {
  color: black;
}

.login .button{
  color: white;
  font-weight: bold;
  width: 10vw;
  height: 4vh;
  background-color: #E12A26;
  border: 0;
  border-radius: 5px;
}

.register {
  border: 0.5px solid black;
  border-radius: 20px;
  width: 40vw;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-bottom: 10vh;
  padding-top: 10vh;
  padding-bottom: 20vh;
  text-align: center; 
}

.register a {
  color: black;
}

.register .button{
  color: white;
  font-weight: bold;
  width: 10vw;
  height: 4vh;
  background-color: #E12A26;
  border: 0;
  border-radius: 5px;
}



.hero {
  width: 90vw;
  margin: 0 auto;
  padding: 100px 0;
}