*{
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}





/* Navigacijska vrstica */





#navigacijska-vrstica {
  background-color: #E12A26;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  margin-top: auto;
  margin-bottom: auto;
}

#zgornja-vrstica #logo {
  font-size: 40px;
}

nav ul{
  color: white;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li {
  display: flex;
  align-items: center;
  height: 80px;
}

nav ul li a {
  color: white;
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ccc;
}

nav form button {
  background: none;
  color: white;
  border: none; 
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: inherit;
  font-family: inherit; 
}

nav form button:hover {
  color: #ccc;
}

nav li:first-child{
  margin-right: auto;
}

#stranska-vrstica {
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #e12926;
  color: white;
  z-index: 1000;
}

#stranska-vrstica li {
  width: 100%;
}

#stranska-vrstica li a {
  width: 100%;
  text-decoration: none;
  color: white;
}

.menu-gumb {
  display: none;
}

@media(max-width: 800px){
  .skrij-mobile{
    display: none;
  }

  .menu-gumb {
    display: block;
    padding: 0;
  }
  #zapri-stransko-vrstico {
    display: block;
  }
  
  #zapri-stransko-vrstico a {
    margin-left: 65%;
  }
}

@media(max-width: 400px){
  #stranska-vrstica {
    width: 100%;
  }
}




/* Glavni del */





.hero {
  width: 80vw;
  margin: 5vh 10vw;
}

/*HOME*/

.predmet {
  margin-top: 5vh;
  padding: 2vh;
  border-radius: 5px;
  border: 1px rgba(225, 42, 38, 0.5) solid; 
  background-color: rgb(245, 245, 245);
  transition: all 0.25s ease;
}

.predmet:hover {
  background-color: rgb(255, 255, 255);
}

.predmet-link {
  color: black;
  font-weight: 600;
  text-decoration: none;
  align-items: center;
  transition: all 0.25s ease;
}

.predmet-link:hover {
  color: #E12A26;
}

/*ABOUT*/

.O-Aplikaciji {
  font-size: larger;
}

.vprasanje {
  font-size: xx-large;
}



























/*LOGIN*/

.login {
  width: 30vw;
  margin: 0 25vw;
  border: 2px rgba(225, 42, 38, 0.5) solid; 
  border-radius: 5px;
}

.login .prijava-sredina {
  font-size: xx-large;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 2px solid  rgba(225, 42, 38, 0.5);
}

.login .gumb-sredina {
  font-size: xx-large;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.polje {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
  width: 100%;
}

.polje label {
  width: 30%;
  text-align: left;
  padding-right: 10px;
  font-weight: bold;
  margin-left: 20%;
}

.polje input {
  width: 30%;
  padding: 5px;
  margin-right: 20%;
}

.text-danger {
  font-size: smaller;
  color: red;
}

.login .moznosti {
  display: flex;
  justify-content: center;
}
.login .moznosti p a {
  text-decoration: none;
}

.login button {
  height: 40px;
  width: 120px;
  background-color: #e12926;
  color: white;
  font-weight: 800;
  border: 2px solid #e12926;
  border-radius: 5px;
}

.login button:hover {
  height: 40px;
  width: 120px;
  background-color: white;
  color: #e12926;
  font-weight: 800;
  transition: all 0.3s ease;
  border: 2px solid #e12926;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .login {
    width: 100%;
    margin: 0;
    border: none;
    padding: 0;
  }

  .hero {
    width: 100%;
    margin: 0;
    padding: 0;
  }

.login .prijava-sredina {
  font-size: 50px;
  font-weight: bolder;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  font-size: x-large;
}

.login .gumb-sredina {
  font-size: xx-large;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.polje {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
  width: 100%;
}

.polje label {
  width: 40%;
  text-align: left;
  font-weight: bold;
  margin-left: 10%;
}

.polje input {
  width: 40%;
  margin-right: 10%;
}

.text-danger {
  font-size: smaller;
  color: red;
}

.login .moznosti {
  display: flex;
  justify-content: center;
}
.login .moznosti p a {
  text-decoration: none;
  font-size: large;
}

.login button {
  height: 60px;
  width: 200px;
  background-color: #e12926;
  color: white;
  font-weight: 800;
  border: 2px solid #e12926;
  border-radius: 5px;
  font-size: large;
}

.login button:hover {
  height: 40px;
  width: 120px;
  background-color: white;
  color: #e12926;
  font-weight: 800;
  transition: all 0.3s ease;
  border: 2px solid #e12926;
  cursor: pointer;
}

}










@media only screen and (max-width: 600px) {
  .izberi-predmet {
    width: 80vw;
    margin: 0 10vw;
  }
  .O-Aplikaciji {
    width: 80vw;
    margin: 0 10vw;  
  }
  .vodoravno {
    padding: 10px 0;
  }
  .komentarji {
    width: 80vw;
    margin: 0 10vw;
  }
  .komentiraj {
    width: 80vw;
    margin: 0 10vw;
  }
  .komentiraj form {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 30px;
    margin-top: 0;
    padding-top: 0;
    font-family: 'Poppins', sans-serif;
  }
  .komentarji {
    padding-bottom: 50px;
  }
}



/*PREDMET*/
.klepetalnica {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.vodoravno {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
}

.komentarji {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 150px;
}

.komentarji .komentar {
  margin-bottom: 10px;
  overflow-x: hidden;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  padding: 10px 20px;
}

.glavaKomentarja {
  display: flex;
}

.username {
  color: #e12926;
}

.komentiraj {
  border: none;
}
.komentiraj form {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 0;
  padding-top: 0;
  font-family: 'Poppins', sans-serif;
}

.komentiraj button {
  height: 50px;
  width: 160px;
  background-color: #e12926;
  color: white;
  font-weight: 800;
  border: 2px solid #e12926;
  border-radius: 5px;
}

.komentiraj button:hover {
  height: 50px;
  width: 160px;
  background-color: white;
  color: #e12926;
  font-weight: 800;
  transition: all 0.3s ease;
  border: 2px solid #e12926;
  cursor: pointer;
}