*{
  margin: 0;
  padding: 0;
  background-color: #252947;
}

body{
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}





/* Navigacijska vrstica */





#navigacijska-vrstica {
  background-color: #202541;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  margin-top: auto;
  margin-bottom: auto;
}

#zgornja-vrstica #logo {
  font-size: 40px;
}

nav ul{
  color: white;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li {
  display: flex;
  align-items: center;
  height: 80px;
}

nav ul li a {
  color: white;
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ccc;
}

nav form button {
  background: none;
  color: white;
  border: none; 
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: inherit;
  font-family: inherit; 
}

nav form button:hover {
  color: #ccc;
}

nav li:first-child{
  margin-right: auto;
}

#stranska-vrstica {
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #202541;
  color: white;
}

#stranska-vrstica li {
  width: 100%;
}

#stranska-vrstica li a {
  width: 100%;
  text-decoration: none;
  color: white;
}

.menu-gumb {
  display: none;
}

@media(max-width: 800px){
  .skrij-mobile{
    display: none;
  }

  .menu-gumb {
    display: block;
    padding: 0;
  }
}

@media(max-width: 400px){
  #stranska-vrstica {
    width: 100%;
  }
}




/* Glavni del */





.hero {
  width: 80vw;
  margin: 5vh 10vw;
}

/*HOME*/

.predmet {
  margin-top: 5vh;
  padding: 2vh;
  border-radius: 5px;
  border: 1px #4289F3 solid; 
  background-color: #252947;
  transition: all 0.25s ease;
}

.predmet *{
  color: white;
  transition: all 0.3s ease;
}

.predmet:hover * {
  background-color: #202541;
}
.predmet:hover {
  background-color: #202541;
}

.predmet-link {
  color: white;
  font-weight: 600;
  text-decoration: none;
  align-items: center;
  transition: all 0.25s ease;
}

.predmet-link:hover {
  color: #4289F3;
}

/*ABOUT*/

.O-Aplikaciji{
  font-size: larger;
}

.vprasanje {
  font-size: xx-large;
  color: #4289F3;
}

p{
  font-size: larger;
  color: white;
}



























/*LOGIN*/

.login {
  width: 30vw;
  margin: 0 25vw;
  border: 2px #4289F3 solid; 
  border-radius: 5px;
}

.login .prijava-sredina {
  font-size: xx-large;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 2px solid  #4289F3;
}

.login .gumb-sredina {
  font-size: xx-large;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.login .polje {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  color: white;
}

.login .polje input {
  width: 200px;
  margin-left: 25px;
  color: white;
}

.login .moznosti {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login .moznosti .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login .moznosti a {
  text-align: center;
  text-decoration: none;
  color: #FC6868;
}

.login button {
  height: 40px;
  width: 120px;
  background-color: #4289F3;
  color: white;
  font-weight: 800;
  border: 2px solid #4289F9;  
  border-radius: 5px;
}

.login button:hover {
  height: 40px;
  width: 120px;
  background-color: white;
  color: #4289F9;
  font-weight: 800;
  transition: all 0.3s ease;
  border: 2px solid #4289F3;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .login {
    width: 100%;
    margin: 0;
    border: none;
    padding: 0;
  }

  
.login .prijava-sredina {
  font-size: 50px;
  font-weight: bolder;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  font-size: x-large;
}

.login .gumb-sredina {
  font-size: xx-large;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.login .polje {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-size: x-large;
}

.login .polje input {
  width: 270px;
  margin-left: 15px;
}

.login .moznosti {
  display: flex;
  justify-content: center;
}
.login .moznosti p a {
  text-decoration: none;
  font-size: large;
}

.login button {
  height: 60px;
  width: 200px;
  background-color: #4289F3;
  color: white;
  font-weight: 800;
  border: 2px solid #4289F9;
  border-radius: 5px;
  font-size: large;
}

.login button:hover {
  height: 40px;
  width: 120px;
  background-color: white;
  color: #4289F9;
  font-weight: 800;
  transition: all 0.3s ease;
  border: 2px solid #4289F3;
  cursor: pointer;
}

}
















/*PREDMET*/
.klepetalnica {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.vodoravno {
  color: #4289F3;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #252947;
  border-radius: 10px;
}

.komentarji {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 150px;
  background-color: #252947;
}

.komentarji .komentar {
  margin-bottom: 10px;
  overflow-x: hidden;
  background-color: #202541;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
}

.komentarji .komentar img {
  max-width: 100%;
}

#image-input{
  display: none;
}

.image-div{
  max-width: 30px;
  max-height: 30px;
}

.image-div img{
  max-width: 100%;
  max-height: 100%;
}

.glavaKomentarja {
  display: flex;
  background-color: #202541;
  justify-content: space-between;
}

.komentarji::-webkit-scrollbar {
  background-color: #202541;
}
.komentarji::-webkit-scrollbar-thumb {
  background-color: #4289F3;
  border-radius: 10px;
}

.username {
  background-color: #202541;
  color: #FC6868;
}

.datumObjave{
  background-color: #202541;
  color: #4289F3;
}

.komentiraj {
  border: none;
}
.komentiraj form {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 0;
  padding-top: 0;
  font-family: 'Poppins', sans-serif;
}

.komentiraj form button{
  border: 1px solid #4289F9;
  border-radius: 10px;
  color: white;
  background-color: #4289F3;
}
.delete{
  width: 24px;
  height: 24px;
  background-image: url("../Resources/bin24.png");
  background-color: #202541;
  cursor: pointer;
  right: 0;
}

.komentiraj form button:hover {
  background-color: white;
  color: #4289F9;
  border: 1px solid #4289F3;
  transition: all 0.3s ease;
  cursor: pointer;
}

.komentiraj form textarea {
  border: 1px solid #4289F3;
  border-radius: 10px;
  caret-color: white;
  color: white;
  padding: 10px;
}

.komentiraj form textarea:focus {
  outline: none !important;
  border: 1px solid #4289F3;
}


.nav-link{
  text-decoration: none;
  color: white;
}

.nav-item{
  cursor: pointer;
  list-style-type: none;
  border: 1px solid #4289F3;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 7px;
  margin-top: 3px;
  max-width: fit-content;
}

.nav-item:hover{
  border: 1px solid white;
  border-radius: 10px;
  color: #4289F3;
}