@model FRIchat.Models.Uporabnik

@{
    ViewData["Title"] = "Prijava";
}

<div class="login">
    <h1>Prijava</h1>
    <br>
    <form asp-action="CheckCredentials">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="email-geslo">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="email-geslo">
            <label asp-for="Geslo" class="control-label"></label>
            <input asp-for="Geslo" class="form-control" />
            <span asp-validation-for="Geslo" class="text-danger"></span>
        </div>
        <h6>Še niste registrirani? <a asp-action="Register">Registracija</a></h6>
        <br>
        <div class="form-group">
            <input class="button" type="submit" value="Prijava"/>
        </div>
    </form>
</div>